**/*.c linguist-language=C
**/*.h linguist-language=C++
examples -linguist-vendored linguist-detectable
examples/*.c linguist-detectable linguist-language=C
examples/*.py linguist-detectable linguist-language=Python