# ignore setup.py build/dist output
build/*
dist/*
*.egg-info/*
# ignore .vscode settings, __pycache__, shared object files
.vscode
**/__pycache__
**/*.so
# we don't use libcheck for unit testing anymore since we want to test C++ code
check
# ignore test runner + top-level test* patterns
runner
test*